@tailwind base;
@tailwind components;
@tailwind utilities;

@variants responsive {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
    .body-height {
      @apply min-h-[95dvh] w-11/12 mx-auto;
    }
  }